[user]
name = Marc Burton
email = marc.burton@wealthwizards.com

[core]
autocrlf = input
editor = vi

[color]
status = auto
diff = auto
interactive = auto
branch = auto

[fetch]
prune = true

[pull]
rebase = true

[push]
default = simple

[alias]
lg = log --graph --decorate --branches --oneline --remotes --tags --all --color
lgg = log --oneline --graph --decorate
lga = log --graph --remotes --tags --decorate --branches --all --pretty=format:'%C(auto)%h%d %s %C(dim normal)(%an)%C(reset)'

[commit]
template = ~/.git-commit-template
cleanup = strip
