[core]
        autocrlf = input
        editor = nano

[color]
        status = auto
        diff = auto
        interactive = auto
        branch = auto

[fetch]
        prune = true

[alias]
        addr = noaddr
        st = status
        lg = log --graph --decorate --branches --oneline --remotes --tags --all --color
        lgg = log --oneline --graph --decorate
        lga = log --graph --remotes --tags --decorate --branches --all --pretty=format:'%C(auto)%h%d %s %C(dim normal)(%an)%C(reset)'
        ci = commit
        co = checkout
        rb = rebase -p
        cdiff = diff --cached
        subup = submodule update --init --recursive
        yoink = cherry-pick
        unstage = reset HEAD
        cob = checkout --no-track -b
        paths = remote -v
